---
// Supports weights 300-900
import "@fontsource-variable/darker-grotesque";
import "@fontsource/darker-grotesque";
import "@fontsource/cormorant-sc";

const currentYear = new Date().getFullYear();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Black Meredith Press</title>

    <!-- Matomo Tag Manager -->
    <script>
      var _mtm = (window._mtm = window._mtm || []);
      _mtm.push({ "mtm.startTime": new Date().getTime(), event: "mtm.Start" });
      (function () {
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.async = true;
        g.src =
          "https://analytics.averyincorporated.com/js/container_IHMSXrnb.js";
        if (s.parentNode) s.parentNode.insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Tag Manager -->
  </head>
  <body
    class="bg-gradient-to-t from-35% from-white bg-zinc-200 text-zinc-900 dark:from-neutral-900 dark:bg-zinc-900 dark:text-zinc-300 font-medium text-xl min-h-screen"
  >
    <main class="px-4 py-6 md:container md:mx-auto flex flex-col items-center">
      <picture class="w-1/2 sm:w-1/3 lg:w-1/4">
        <source
          srcset="logo-light.svg"
          media="(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)"
        />
        <source srcset="logo-dark.svg" media="(prefers-color-scheme: dark)" />
        <img src="logo-light.svg" alt="Black Meredith Press Logo" />
      </picture>
      <h1 class="text-5xl text-center md:text-justify font-serif">
        Black Meredith Press
      </h1>
      <p
        class="text-3xl text-center md:text-justify text-zinc-500 dark:text-zinc-400"
      >
        an Independent Book Publisher
        <span class="block md:inline">for the Curious and Whimsical</span>
      </p>
      <p class="mt-4 md:text-justify">
        Founded in 2017, Black Meredith Press specializes in literary fantasy
        and science fiction that create people and places surreal yet familiar.
        Our mission is to open the doors of imagination and give readers access
        to unique worlds created by new authors hailing from diverse and
        exceptional backgrounds. We are dedicated to fostering creative
        expression, ensuring that every book we publish brings readers on
        unforgettable journeys to uncharted literary realms.
      </p>
      <div class="w-full mt-4">
        <h2 class="text-3xl text-center md:text-justify font-serif">Authors</h2>
      </div>
    </main>
  </body>
  <footer
    class="flex items-center justify-center sticky top-[100vh] h-10 border-t border-t-zinc-900/10 dark:border-t-zinc-200/10"
  >
    <p class="text-base">
      &copy; {currentYear} Black Meredith Press
    </p>
  </footer>
</html>
