---
interface Props {
  name: string;
  genres: string[];
  bio: string;
  photo?: string;
  links: { name: string; url: string }[];
}

const { name, genres, photo, bio } = Astro.props;
---

<div>
  <li
    class="flex flex-col md:flex-row items-center md:items-start py-4 first:pt-0 last:pb-0"
  >
    <img
      class="h-48 w-48 rounded-full md:self-center border-2 border-zinc-900/50 dark:border-zinc-300"
      src={photo || "https://placehold.co/600x600?text=Photo\\nComing\\nSoon"}
      alt=""
    />
    <div class="md:ml-4">
      <h2 class="font-serif text-2xl lg:text-4xl">{name}</h2>
      <p>
        <span class="font-bold">Genres:</span>&nbsp;{genres.join(", ")}
      </p>
      <p class="mt-4">{bio}</p>
    </div>
  </li>
</div>
