---
import clsx from "clsx";

interface Props {
  classes?: string;
}

const { classes } = Astro.props;
---

<section
  class={clsx(
    "bg-zinc-50 dark:bg-zinc-900 w-full py-6 px-12 lg:py-12 lg:px-24 mb-screen last:mb-half-screen",
    classes
  )}
>
  <div class="max-w-screen-xl mx-auto">
    <slot />
  </div>
</section>
